extends templates/base

block content
  div.content
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt dolores explicabo id illum ipsa ipsum iste laudantium minus nihil numquam, quis quisquam, quo rem rerum saepe soluta vitae? Aut, ea.
    button(type="button").button Click Me!