/* Layout */
$mq-breakpoints: (
  small: 360px,
  tablet: 720px,
  tablet-landscape: 1024px,
  desktop-xs: 1200px,
  desktop: 1600px
);

/* Font-family */
$ff-fallback: sans-serif;
$ff-fors-regular: 'Montserrat-Medium', $ff-fallback;
$ff-fors-bold: 'TT_Fors_Bold', $ff-fallback;
$ff-fors-italic: 'TT_Fors_Italic', $ff-fallback;
$ff-autonomous-regular: 'TT_Autonomous_Regular', $ff-fallback;
$ff-autonomous-italic: 'TT_Autonomous_Italic', $ff-fallback;
$ff-phgtl: 'PHGTL', $ff-fallback;

/* Fonts */
$fz-xs: 10px;
$fz-note: 12px;
$fz-min-base: 14px;
$fz-base: 16px;
$fz-medium: 20px;
$fz-lg: 24px;
$fz-xl: 32px;
$fz-xxl: 40px;

/* Colors */
$color-white: #FFFFFF;
$color-text-dark: #26292B;
$color-text-gray: #757779;
$color-text-light-gray: #CBCBCB;
$color-text-hover-white: #145969;
$color-text-hover-dark: #6DCEC2;
$color-gray-icon: #B6B6B5;
$color-border-dark-bg: rgba($color-white, .3);
$color-border-white-bg: #DFDFDF;
$color-brand-bg: #145969;
$color-bg-gray-lighten: #F2F6F6;
$color-light-cyan-bg: #E2F5F3;

$color-pink: #CE4979;
$color-pink-light: #F8E4EB;
$color-green: #39AC39;
$color-yellow: #D2AD31;
$color-bg-gray: #F2F6F7;
$color-bg-dark: #26292B;
